In [6]:
import pandas as pd
import numpy as np

In [7]:
df=pd.read_csv(r"Pune_House_Data.csv")

In [8]:
df.head()

,area_type,availability,size,society,total_sqft,bath,balcony,price,location
0,Super built-up Area,19-Dec,2 BHK,Coomee,1056,2.0,1.0,39.07,Alandi Road
1,Plot Area,Ready To Move,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,Ambegaon Budruk
2,Built-up Area,Ready To Move,3 BHK,NaN,1440,2.0,3.0,62.00,Anandnagar
3,Super built-up Area,Ready To Move,3 BHK,Soiewre,1521,3.0,1.0,95.00,Aundh
4,Super built-up Area,Ready To Move,2 BHK,NaN,1200,2.0,1.0,51.00,Aundh Road

In [9]:
df.shape

(13320, 9)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   size          13304 non-null  object
 3   society       7818 non-null   object
 4   total_sqft    13320 non-null  object
 5   bath          13247 non-null  float64
 6   balcony       12711 non-null  float64
 7   price         13320 non-null  float64
 8   location      13319 non-null  object
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [11]:
for column in df.columns:
    print(df[column].value_counts())
    print("*"*20)

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64
********************
availability
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Aug               1
17-Jan               1
16-Nov               1
16-Jan               1
14-Jul               1
Name: count, Length: 81, dtype: int64
********************
size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64
********************
society
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Amionce     1
JaghtDe     1
Jauraht     1
Brity U     1
RSntsAp     1
Name: count, Length: 2688, dtype: int64
********************
total_sqft
1200    843
1100    221
1500    205
2400    196
600     180
       ...
3580      1
2461      1
1437      1
2155      1
4689      1
Name: count, Length: 2117, dtype: int64
********************
bath
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
40.0       1
15.0       1
14.0       1
18.0       1
Name: count, dtype: int64
********************
balcony
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: count, dtype: int64
********************
price
75.00     310
65.00     302
55.00     275
60.00     270
45.00     240
         ...
351.00      1
54.10       1
80.64       1
32.73       1
488.00      1
Name: count, Length: 1994, dtype: int64
********************
location
Alandi Road            139
Kalyani Nagar          139
Mahatma Gandhi Road    139
Lulla Nagar            139
Laxmi Road             139
                      ...
Sadashiv Peth          138
Raviwar Peth           138
Rasta Peth             138
Ghorpadi               138
other                    1
Name: count, Length: 97, dtype: int64
********************

In [12]:
df.isna().sum()

area_type          0
availability       0
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
location           1
dtype: int64

In [13]:
df.drop(columns=['area_type','availability','society','balcony'],inplace=True)

In [14]:
df.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   size        13304 non-null  object
 1   total_sqft  13320 non-null  object
 2   bath        13247 non-null  float64
 3   price       13320 non-null  float64
 4   location    13319 non-null  object
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [16]:
df['location'].value_counts()

location
Alandi Road            139
Kalyani Nagar          139
Mahatma Gandhi Road    139
Lulla Nagar            139
Laxmi Road             139
                      ...
Sadashiv Peth          138
Raviwar Peth           138
Rasta Peth             138
Ghorpadi               138
other                    1
Name: count, Length: 97, dtype: int64

In [17]:
df['location']=df['location'].fillna('Kalyani Nagar')

In [18]:
df['size'].value_counts()

size
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
13 BHK           1
12 Bedroom       1
27 BHK           1
43 Bedroom       1
16 BHK           1
19 BHK           1
18 Bedroom       1
Name: count, dtype: int64

In [19]:
df['size']=df['size'].fillna('2 BHK')

In [20]:
df['bath'] = df['bath'].fillna(df['bath'].median())

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   size        13320 non-null  object
 1   total_sqft  13320 non-null  object
 2   bath        13320 non-null  float64
 3   price       13320 non-null  float64
 4   location    13320 non-null  object
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [22]:
df['bhk'] = df['size'].str.split().str.get(0).astype(int)

In [23]:
df[df.bhk>20]

            size total_sqft  bath  price       location  bhk
1718      27 BHK       8000  27.0  230.0  Uruli Devachi   27
4684  43 Bedroom       2400  40.0  660.0  Salunke Vihar   43

In [24]:
df['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [25]:
# Converting the range values to integer values and removing other types of error
def convertRange(x):
    temp = x.split('-')
    if len(temp) == 2:
        return (float(temp[0])+float(temp[1]))/2
    try:
        return float(x)
    except:
        return None

In [26]:
df['total_sqft']=df['total_sqft'].apply(convertRange)

In [27]:
df.head()

        size  total_sqft  bath   price         location  bhk
0      2 BHK      1056.0   2.0   39.07      Alandi Road    2
1  4 Bedroom      2600.0   5.0  120.00  Ambegaon Budruk    4
2      3 BHK      1440.0   2.0   62.00       Anandnagar    3
3      3 BHK      1521.0   3.0   95.00            Aundh    3
4      2 BHK      1200.0   2.0   51.00       Aundh Road    2

In [28]:
df['price_per_sqft']=df['price']*1000/df['total_sqft']

In [29]:
df['price_per_sqft']

0         36.998106
1         46.153846
2         43.055556
3         62.458909
4         42.500000
            ...
13315     66.898349
13316    111.111111
13317     52.585451
13318    104.073363
13319     30.909091
Name: price_per_sqft, Length: 13320, dtype: float64

In [30]:
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    13274.000000
mean    1559.626694      2.688814    112.565627      2.802778       79.075012
std     1238.405258      1.338754    148.971674      1.294496     1064.295948
min        1.000000      1.000000      8.000000      1.000000        2.678298
25%     1100.000000      2.000000     50.000000      2.000000       42.668645
50%     1276.000000      2.000000     72.000000      3.000000       54.343063
75%     1680.000000      3.000000    120.000000      3.000000       73.117461
max    52272.000000     40.000000   3600.000000     43.000000   120000.000000

In [31]:
df['location'].value_counts()

location
Kalyani Nagar          140
Alandi Road            139
Mahatma Gandhi Road    139
Lulla Nagar            139
Laxmi Road             139
                      ...
Sadashiv Peth          138
Raviwar Peth           138
Rasta Peth             138
Ghorpadi               138
other                    1
Name: count, Length: 97, dtype: int64

In [32]:
df['location'] = df['location'].apply(lambda x:x.strip())
location_count=df['location'].value_counts()

In [33]:
location_count_less_10 = location_count[location_count<=10]
location_count_less_10

location
other    1
Name: count, dtype: int64

In [34]:
df['location'] = df['location'].apply(lambda x:'other' if x in location_count_less_10 else x)

In [35]:
df['location'].value_counts()

location
Kalyani Nagar          140
Alandi Road            139
Mahatma Gandhi Road    139
Lulla Nagar            139
Laxmi Road             139
                      ...
Sadashiv Peth          138
Raviwar Peth           138
Rasta Peth             138
Ghorpadi               138
other                    1
Name: count, Length: 97, dtype: int64

In [36]:
(df['total_sqft']/df['bhk']).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

In [37]:
df=df[((df['total_sqft']/df['bhk'])>=300)]
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  12530.000000  12530.000000  12530.000000  12530.000000    12530.000000
mean    1594.564544      2.559537    111.382401      2.650838       63.039794
std     1261.271296      1.077938    152.077329      0.976678       41.622380
min      300.000000      1.000000      8.440000      1.000000        2.678298
25%     1116.000000      2.000000     49.000000      2.000000       42.105263
50%     1300.000000      2.000000     70.000000      3.000000       52.941176
75%     1700.000000      3.000000    115.000000      3.000000       69.166667
max    52272.000000     16.000000   3600.000000     16.000000     1764.705882

In [38]:
df.shape

(12530, 7)

In [39]:
df.price_per_sqft.describe()

count    12530.000000
mean        63.039794
std         41.622380
min          2.678298
25%         42.105263
50%         52.941176
75%         69.166667
max       1764.705882
Name: price_per_sqft, dtype: float64

In [40]:
def remove_outliers_sqft(df):
    df_output=pd.DataFrame()
    for key,subdf in df.groupby('location'):
        m=np.mean(subdf.price_per_sqft)
        st=np.std(subdf.price_per_sqft)
        gen_df=subdf[(subdf.price_per_sqft>(m-st))&(subdf.price_per_sqft<=(m+st))]
        df_output=pd.concat([df_output,gen_df],ignore_index=True)
    return df_output

In [41]:

df=remove_outliers_sqft(df)
df.describe()

         total_sqft          bath         price           bhk  price_per_sqft
count  10946.000000  10946.000000  10946.000000  10946.000000    10946.000000
mean    1491.685042      2.456879     83.924079      2.565777       53.813338
std      854.299518      0.961960     66.182679      0.895302       16.064075
min      300.000000      1.000000     10.000000      1.000000       13.793103
25%     1105.000000      2.000000     48.000000      2.000000       41.860465
50%     1278.000000      2.000000     65.000000      2.000000       51.079430
75%     1629.750000      3.000000     95.960000      3.000000       63.333333
max    30400.000000     16.000000   2100.000000     16.000000      175.485243

In [42]:
def remove_outliers_bhk(df):
    exclude_indices = np.array([])
    
    for location,location_df in df.groupby('location'):
        bhk_stats = {}
        
        for bhk, bhk_df in location_df.groupby('bhk'):
            bhk_stats[bhk] = {
                'mean': np.mean(bhk_df.price_per_sqft),
                'std': np.std(bhk_df.price_per_sqft),
                'count': bhk_df.shape[0]
            }
        
        for bhk, bhk_df in location_df.groupby('bhk'):
            stats = bhk_stats.get(bhk-1)
            if stats and stats['count']>5:
                exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft<(stats['mean'])].index.values)
    
    return df.drop(exclude_indices, axis='index')

In [43]:
df=remove_outliers_bhk(df)
df.describe()

         total_sqft         bath        price          bhk  price_per_sqft
count   7467.000000  7467.000000  7467.000000  7467.000000     7467.000000
mean    1508.675487     2.471140    94.182027     2.516941       59.374613
std      931.482227     1.047143    74.193494     0.977418       16.071013
min      300.000000     1.000000    10.000000     1.000000       20.000000
25%     1100.000000     2.000000    52.535000     2.000000       49.043220
50%     1269.000000     2.000000    75.000000     2.000000       57.971014
75%     1691.000000     3.000000   110.000000     3.000000       68.987945
max    30400.000000    16.000000  2100.000000    16.000000      175.485243

In [44]:
df.shape

(7467, 7)

In [45]:
df

            size  total_sqft  bath   price     location  bhk  price_per_sqft
0          2 BHK      1056.0   2.0   39.07  Alandi Road    2       36.998106
1      4 Bedroom      2894.0   4.0  245.00  Alandi Road    4       84.657913
2          2 BHK      1084.0   2.0   50.00  Alandi Road    2       46.125461
3          2 BHK      1230.0   2.0   80.00  Alandi Road    2       65.040650
4          3 BHK      1750.0   3.0  130.00  Alandi Road    3       74.285714
...          ...         ...   ...     ...          ...  ...             ...
10934      4 BHK      3122.0   6.0  250.00     Yerawada    4       80.076874
10937  6 Bedroom      3500.0   6.0  115.00     Yerawada    6       32.857143
10940  5 Bedroom      3210.0   2.0  353.00     Yerawada    5      109.968847
10941      2 BHK      1050.0   2.0   54.00     Yerawada    2       51.428571
10945      2 BHK      1132.0   2.0   70.00     Yerawada    2       61.837456

[7467 rows x 7 columns]

In [46]:
df.to_csv("cleaned_data.csv")

In [47]:
X=df.drop(columns=['price'])
y=df['price']

In [48]:
# Using GridSearchCV to find the best algorithm for this problem
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
try:
    from sklearn.preprocessing import OrdinalEncoder # just to raise an ImportError if Scikit-Learn < 0.20
    from sklearn.preprocessing import OneHotEncoder
except ImportError:
    from future_encoders import OneHotEncoder # Scikit-Learn < 0.20
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [49]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [50]:
print(X_train.shape)
print(X_test.shape)

(5973, 6)
(1494, 6)

In [51]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False),['location']))

In [52]:
scaler = StandardScaler()

In [53]:
lr = LinearRegression()

In [54]:
pipe = make_pipeline(column_trans,scaler, lr)

In [55]:
pipe.fit(X_train,y_train)

c:\Users\firoz\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression())])

In [56]:
y_pred_lr=pipe.predict(X_test)

In [57]:
r2_score(y_test, y_pred_lr)

-0.006077496001340554

In [58]:
Lasso = Lasso()
pipe = make_pipeline(column_trans,scaler,Lasso)
pipe.fit(X_train,y_train)

c:\Users\firoz\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [59]:
y_pred_lasso=pipe.predict(X_test)
r2_score(y_test,y_pred_lasso)

-0.0042220602510123495

In [60]:
ridge=Ridge()
pipe = make_pipeline(column_trans,scaler,ridge)
pipe.fit(X_train,y_train)
y_pred_ridge=pipe.predict(X_test)
r2_score(y_test,y_pred_ridge)

c:\Users\firoz\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

-0.004666358614010324

In [61]:
print("No Regulation:",r2_score(y_test,y_pred_lr))
print("Lasso:",r2_score(y_test,y_pred_lasso))
print("Ridge:",r2_score(y_test,y_pred_ridge))

No Regulation: -0.006077496001340554
Lasso: -0.0042220602510123495
Ridge: -0.004666358614010324

In [62]:
import pickle
pickle.dump(pipe,open('RidgeModel.pkl','wb'))